<div ALIGN="center" style="margin-top:100px">
  <!--form name="myForm" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <table>
  <tr>
  <td><b>Full Name:</b></td>
  <td><input type="text" ng-model="customer.fullname" required/>
  </td>
  </tr>
  <tr>
  <td><b>Address:</b></td>
  <td><input type="text" ng-model="customer.address" required></td>
  </tr>
  
  <tr>
  <td><b>Email:</b></td>
  <td><input type="text" ng-model="customer.email" required></td>
  </tr>
  
  <tr>
  <td><b>UserName:</b></td>
  <td><input type="text" ng-model="customer.username" required></td>
  </tr>
  
  <tr>
  <td><b>Password:</b></td>
  <td><input type="password" ng-model="customer.password" required></td>
  </tr>
  
  <tr>
  <td><b>Phone No:</b></td>
  <td><input type="text" ng-model="customer.ph_no"   required></td>
  </tr>
  
  <tr>
  <td>
  <input type="submit" ng-click="customerData(customer)" value="submit">
  </td>
  </tr>
  </table>
  </form-->

  <h2>Register</h2>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group" style="width:400px">
      <tr>
        <td>
          <label for="firstName">First Name : &nbsp; </label>
        </td>
        <td>
          <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
          <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
            <div *ngIf="f.firstName.errors.required">First Name is required</div>
          </div>
        </td>
      </tr>
    </div>
    <div class="form-group" style="width:400px">
      <tr>
        <td>
          <label for="lastName">Last Name : &nbsp;</label>
        </td>
        <td>
          <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
          <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
            <div *ngIf="f.lastName.errors.required">Last Name is required</div>
          </div>
        </td>
      </tr>
    </div>
    <div class="form-group" style="width:400px">
      <tr>
        <td>
          <label for="username">Username : &nbsp;</label>
        </td>
        <td>
          <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
          </div>
        </td>
      </tr>
    </div>
    <div class="form-group" style="width:400px">
      <tr>
        <td>
      <label for="password">Password : &nbsp;</label>
    </td>
    <td>
      <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">Password is required</div>
        <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
      </div>
      </td>
    </tr>
    </div>
    <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary">Register</button>
      <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
      <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
    </div>
  </form>
</div>